/* reset */
* {
	padding: 0;
	margin: 0;
	border: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
	display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/* mixin */
@mixin padding__80 {
	padding-top: 80px;
	padding-bottom: 80px;
}
@mixin padding__30 {
	padding-top: 30px;
	padding-bottom: 30px;
}
@mixin flex__center {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
@mixin img {
	.img {
		position: relative;

		img {
			object-fit: cover;
			object-position: 50% 50%;
			height: 100%;
		}
	}
}

/*  */
body {
	font-family: Inter;
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	color: #848fac;
}
.wripper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.main {
	flex: 1 1 auto;
}
.container {
	margin: 0 auto;
	max-width: 1200px;
	padding: 0px 10px;
	&__header {
		padding-top: 35px;
		padding-bottom: 35px;
		@include flex__center;
	}
	&__footer {
		padding-top: 120px;
		padding-bottom: 120px;
		@include flex__center;
	}
}
.inner {
	@include flex__center;
}
.title {
	margin: 0;
	font-family: Montserrat;
	font-weight: 600;
	font-size: 36px;
	line-height: 150%;
	letter-spacing: -0.01em;
	color: #192252;
}
.text {
	padding-bottom: 16px;
}
.btn {
	background-color: #0e1734;
	border-radius: 4px;
	padding: 14px 16px;
	color: #ffffff;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	text-decoration: none;
	text-align: center;
}
